openapi: 3.0.0
info:
  contact:
    email: suporte.pix@bcb.gov.br
    name: Suporte PIX BCB
    url: https://www.bcb.gov.br/estabilidadefinanceira/pix
  description: |-
    <pre>[ Base URL: https://api.sicoob.com.br/pix/api/v2 ]</pre>
    A API Pix Sicoob é uma forma fácil e segura dos associados gerenciarem os seus recebimentos Pix. Ela permite criar cobranças e validar a situação do pagamento, bem como verificar os Pix recebidos.

    Seguindo os padrões definidos pelo Bacen, esta API utiliza as melhores práticas de segurança e possui autenticação com TLS mútuo, como uma medida adicional de proteção.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  title: API PIX
  version: 2.0.23.28
  x-ibm-name: api-pix
  x-sicoob-category: FINANCEIRA
servers:
- url: https://api.sicoob.com.br/pix/api/v2
security:
- oauth-mtls-sso:
  - cco_transferencias
  - cco_consulta
  - openid
tags:
- description: |-
    Reúne endpoints (locations) utilizados pelo software do PSP pagador para recuperar o payload JSON que representa uma cobrança.

    Os endpoints listados nesta Tag apresentam requisitos de autenticação e autorização diferenciados em relação aos outros endpoints listados na presente API.

    São endpoints __abertos__ para que qualquer cliente da internet possa se conectar. Cada _location_ é uma _[url de capacidade](https://www.w3.org/TR/capability-urls/)_, funcionalidade implementada via o fragmento `{pixUrlAccessToken}`.
    Para mais informações, consultar o [Manual de Padrões para iniciação do Pix](https://www.bcb.gov.br/estabilidadefinanceira/pix).
  name: CobPayload
  x-displayName: Reúne endpoints (locations) que retornam o  Payload JSON que representa
    uma Cobrança
- description: Reúne endpoints destinados a lidar com gerenciamento de cobranças imediatas.
  name: Cob
  x-displayName: Gerenciamento de cobranças para pagamento imediato
- description: Reúne endpoints destinados a lidar com gerenciamento de cobranças com
    vencimento.
  name: CobV
  x-displayName: Gerenciamento de cobranças com vencimento
- description: Reúne endpoints destinados a lidar com gerenciamento de cobranças com
    vencimento em lote.
  name: LoteCobV
  x-displayName: Gerenciamento de cobranças com vencimento em lote
- description: Reúne endpoints destinados a lidar com configuração e remoção de locations
    para uso dos payloads
  name: PayloadLocation
  x-displayName: Configuração de locations para payloads
- description: reúne endpoints destinados a lidar com  gerenciamento de Pix recebidos.
  name: Pix
  x-displayName: Gerenciamento de Pix recebidos
- description: Reúne endpoints para gerenciamento de notificações por parte do PSP
    recebedor ao usuário recebedor.
  name: Webhook
  x-displayName: Gerenciamento de notificações
paths:
  /cob/{txid}:
    get:
      description: Endpoint para consultar uma cobrança através de um determinado
        txid.
      parameters:
      - explode: false
        in: path
        name: txid
        required: true
        schema:
          $ref: "#/components/schemas/TxId"
        style: simple
      - explode: true
        in: query
        name: revisao
        required: false
        schema:
          $ref: "#/components/schemas/Revisao"
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/cobResponse1"
                retorno2:
                  $ref: "#/components/examples/cobResponse2"
              schema:
                $ref: "#/components/schemas/CobCompleta"
          description: Dados da cobrança imediata.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar cobrança imediata.
      tags:
      - Cob
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: Endpoint para revisar uma cobrança imediata.
      parameters:
      - explode: false
        in: path
        name: txid
        required: true
        schema:
          $ref: "#/components/schemas/TxId"
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/CobBodyRevisada"
      responses:
        "200":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/cobResponse3"
              schema:
                $ref: "#/components/schemas/CobGerada"
          description: Cobrança imediata revisada. A revisão deve ser incrementada
            em 1.
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/OperacaoInvalidaCobExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Revisar cobrança imediata.
      tags:
      - Cob
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: Endpoint para criar uma cobrança imediata.
      parameters:
      - explode: false
        in: path
        name: txid
        required: true
        schema:
          $ref: "#/components/schemas/TxId"
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/CobBody"
      responses:
        "201":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/cobResponse1"
              schema:
                $ref: "#/components/schemas/CobGerada"
          description: Cobrança imediata criada
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/RequisicaoInvalidaCobExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Criar cobrança imediata.
      tags:
      - Cob
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /cob/{txid}/imagem:
    get:
      deprecated: true
      description: Endpoint para gerar a imagem qrcode de uma cobrança através de
        um determinado txid.
      parameters:
      - explode: false
        in: path
        name: txid
        required: true
        schema:
          $ref: "#/components/schemas/TxId"
        style: simple
      - explode: true
        in: query
        name: revisao
        required: false
        schema:
          $ref: "#/components/schemas/Revisao"
        style: form
      - explode: true
        in: query
        name: largura
        required: false
        schema:
          default: 360
          format: int32
          maximum: 1500
          minimum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: Imagem qrcode que representa a cobrança
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Obtem a imagem qrcode de uma cobrança imediata.
      tags:
      - Cob
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/problem+json
      - image/png
  /cob:
    get:
      description: "Endpoint para consultar cobranças imediatas através de parâmetros\
        \ como início, fim, cpf, cnpj e status."
      parameters:
      - explode: true
        in: query
        name: inicio
        required: true
        schema:
          $ref: "#/components/schemas/Inicio"
        style: form
      - explode: true
        in: query
        name: fim
        required: true
        schema:
          $ref: "#/components/schemas/Fim"
        style: form
      - explode: true
        in: query
        name: cpf
        required: false
        schema:
          description: Filtro pelo CPF do devedor. Não pode ser utilizado ao mesmo
            tempo que o CNPJ.
          pattern: "^\\d{11}$"
          title: CPF
          type: string
        style: form
      - explode: true
        in: query
        name: cnpj
        required: false
        schema:
          description: Filtro pelo CNPJ do devedor. Não pode ser utilizado ao mesmo
            tempo que o CPF.
          pattern: "^\\d{14}$"
          title: CNPJ
          type: string
        style: form
      - explode: true
        in: query
        name: locationPresente
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          description: Filtro pelo status da cobrança.
          title: Status da Cobrança
          type: string
        style: form
      - explode: true
        in: query
        name: paginacao.paginaAtual
        required: false
        schema:
          default: 0
          description: "Página a ser retornada pela consulta. Se não for informada,\
            \ o PSP assumirá que será 0."
          format: int32
          minimum: 0
          title: Página atual
          type: integer
        style: form
      - explode: true
        in: query
        name: paginacao.itensPorPagina
        required: false
        schema:
          default: 100
          description: Quantidade máxima de registros retornados em cada página. Apenas
            a última página pode conter uma quantidade menor de registros.
          format: int32
          maximum: 1000
          minimum: 1
          title: Itens por Página
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                getCobs1:
                  $ref: "#/components/examples/getCobs1"
                getCobs2:
                  $ref: "#/components/examples/getCobs2"
              schema:
                $ref: "#/components/schemas/CobsConsultadas"
          description: Lista de cobranças imediatas.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar lista de cobranças imediatas.
      tags:
      - Cob
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: "Endpoint para criar uma cobrança imediata, neste caso, o txid\
        \ deve ser definido pelo PSP."
      requestBody:
        $ref: "#/components/requestBodies/CobBody"
      responses:
        "201":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/cobResponse1"
              schema:
                $ref: "#/components/schemas/CobGerada"
          description: Cobrança imediata criada
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/RequisicaoInvalidaCobExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Criar cobrança imediata.
      tags:
      - Cob
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /cobv/{txid}:
    get:
      description: Endpoint para consultar uma cobrança com vencimento através de
        um determinado txid.
      parameters:
      - explode: false
        in: path
        name: txid
        required: true
        schema:
          $ref: "#/components/schemas/TxId"
        style: simple
      - explode: true
        in: query
        name: revisao
        required: false
        schema:
          $ref: "#/components/schemas/Revisao"
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/cobResponse4"
              schema:
                $ref: "#/components/schemas/CobVCompleta"
          description: Dados da cobrança com vencimento.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar cobrança com vencimento.
      tags:
      - CobV
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: Endpoint para revisar uma cobrança com vencimento.
      parameters:
      - explode: false
        in: path
        name: txid
        required: true
        schema:
          $ref: "#/components/schemas/TxId"
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/CobVBodyRevisada"
      responses:
        "200":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/cobResponse4"
              schema:
                $ref: "#/components/schemas/CobVGerada"
          description: Cobrança com vencimento revisada. A revisão deve ser incrementada
            em 1.
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/OperacaoInvalidaCobVExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Revisar cobrança com vencimento.
      tags:
      - CobV
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: Endpoint para criar uma cobrança com vencimento.
      parameters:
      - explode: false
        in: path
        name: txid
        required: true
        schema:
          $ref: "#/components/schemas/TxId"
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/CobVBody"
      responses:
        "201":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/cobResponse4"
              schema:
                $ref: "#/components/schemas/CobVGerada"
          description: Cobrança com vencimento criada
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/RequisicaoInvalidaCobVExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Criar cobrança com vencimento.
      tags:
      - CobV
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /cobv/{txid}/imagem:
    get:
      deprecated: true
      description: Endpoint para gerar a imagem qrcode de uma cobrança através de
        um determinado txid.
      parameters:
      - explode: false
        in: path
        name: txid
        required: true
        schema:
          $ref: "#/components/schemas/TxId"
        style: simple
      - explode: true
        in: query
        name: revisao
        required: false
        schema:
          $ref: "#/components/schemas/Revisao"
        style: form
      - explode: true
        in: query
        name: largura
        required: false
        schema:
          default: 360
          format: int32
          maximum: 1500
          minimum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: Imagem qrcode que representa a cobrança
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Obtem a imagem qrcode de uma cobrança com vencimento.
      tags:
      - CobV
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/problem+json
      - image/png
  /cobv:
    get:
      description: "Endpoint para consultar cobranças com vencimento através de parâ\
        metros como início, fim, cpf, cnpj e status."
      parameters:
      - explode: true
        in: query
        name: inicio
        required: true
        schema:
          $ref: "#/components/schemas/Inicio"
        style: form
      - explode: true
        in: query
        name: fim
        required: true
        schema:
          $ref: "#/components/schemas/Fim"
        style: form
      - explode: true
        in: query
        name: cpf
        required: false
        schema:
          description: Filtro pelo CPF do devedor. Não pode ser utilizado ao mesmo
            tempo que o CNPJ.
          pattern: "^\\d{11}$"
          title: CPF
          type: string
        style: form
      - explode: true
        in: query
        name: cnpj
        required: false
        schema:
          description: Filtro pelo CNPJ do devedor. Não pode ser utilizado ao mesmo
            tempo que o CPF.
          pattern: "^\\d{14}$"
          title: CNPJ
          type: string
        style: form
      - explode: true
        in: query
        name: locationPresente
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          description: Filtro pelo status da cobrança.
          title: Status da Cobrança
          type: string
        style: form
      - explode: true
        in: query
        name: loteCobVId
        required: false
        schema:
          description: Id do lote de cobrança com vencimento.
          format: int32
          title: Id do lote de cobrança com vencimento
          type: integer
        style: form
      - explode: true
        in: query
        name: paginacao.paginaAtual
        required: false
        schema:
          default: 0
          description: "Página a ser retornada pela consulta. Se não for informada,\
            \ o PSP assumirá que será 0."
          format: int32
          minimum: 0
          title: Página atual
          type: integer
        style: form
      - explode: true
        in: query
        name: paginacao.itensPorPagina
        required: false
        schema:
          default: 100
          description: Quantidade máxima de registros retornados em cada página. Apenas
            a última página pode conter uma quantidade menor de registros.
          format: int32
          maximum: 1000
          minimum: 1
          title: Itens por Página
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                getCobs1:
                  $ref: "#/components/examples/getCobsV1"
              schema:
                $ref: "#/components/schemas/CobsVConsultadas"
          description: Lista de cobranças com vencimento.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar lista de cobranças com vencimento.
      tags:
      - CobV
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
  /lotecobv/{id}:
    get:
      description: Endpoint para consultar um lote de cobranças com vencimento.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          title: Id do lote de cobranças com vencimento
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/loteCobVResponse1"
              schema:
                $ref: "#/components/schemas/LoteCobVConsultado"
          description: Lote de cobranças com vencimento.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar um lote específico de cobranças com vencimento.
      tags:
      - LoteCobV
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: "Endpoint utilizado para revisar cobranças específicas dentro de\
        \ um lote de cobranças com vencimento. \n\nA diferença deste endpoint para\
        \ o endpoint PUT correlato é que este endpoint admite um array\n`cobsv` com\
        \ menos solicitações de criação ou alteração de cobranças do que o array atribuí\
        do na requisição originária do lote.\n\nNão se pode, entretanto, utilizar\
        \ esse endpoint para agregar ou remover solicitações de\nalteração ou criaç\
        ão de cobranças conforme constam na requisição originária do lote."
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          title: Id do lote de cobranças com vencimento
          type: string
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/LoteCobVBodyRevisado"
      responses:
        "202":
          description: Solicitação de revisão do Lote de cobranças encaminhada para
            processamento.
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/OperacaoInvalidaCobVExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Utilizado para revisar cobranças específicas dentro de um lote de cobranças
        com vencimento.
      tags:
      - LoteCobV
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/problem+json
    put:
      description: |-
        Endpoint utilizado para criar ou alterar um lote de cobranças com vencimento.

        Para o caso de uso de alteração de cobranças, o array a ser atribuído na requisicão
        deve ser composto pelas exatas requisições de criação de cobranças que
        constaram no array atribuído na requisição originária.

        Não se pode utilizar este endpoint para _alterar_ um lote de cobranças com vencimento
        agregando ou removendo cobranças já existentes dentro do conjunto de cobranças
        criadas na requisição originária do lote.

        Em outras palavras, se originalmente criou-se um lote, por exemplo, com as cobranças
        [`a`, `b` e `c`], não se pode _alterar_ esse conjunto de cobranças original que o
        lote representa para [`a`, `b`, `c`, `d`], ou para [`a`, `b`].
        Por outro lado, pode-se alterar, _em lote_ as cobranças [`a`, `b`, `c`],
        conforme originalmente constam na requisição originária do lote.

        Uma solicitação de __criação__ de cobrança com status "EM_PROCESSAMENTO" ou "NEGADA"
        está associada a uma cobrança não _existe_ de fato, portanto não será
        listada em `GET /cobv` ou `GET /cobv/{txid}`.

        Uma cobrança, uma vez criada via `PUT /cobv/{txid}`,
        não pode ser associada a um lote posteriormente.

        Uma cobrança, uma vez criada via `PUT /lotecobv/{id}`,
        não pode ser associada a um novo lote posteriormente.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 50
          title: Id do lote de cobranças com vencimento
          type: string
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/LoteCobVBody"
      responses:
        "202":
          description: Lote de cobranças com vencimento solicitado para criação.
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/RequisicaoInvalidaLoteCobVExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Criar/Alterar lote de cobranças com vencimento.
      tags:
      - LoteCobV
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/problem+json
  /lotecobv:
    get:
      description: Endpoint para consultar lista de lotes de cobranças com vencimento.
      parameters:
      - explode: true
        in: query
        name: inicio
        required: true
        schema:
          $ref: "#/components/schemas/Inicio"
        style: form
      - explode: true
        in: query
        name: fim
        required: true
        schema:
          $ref: "#/components/schemas/Fim"
        style: form
      - explode: true
        in: query
        name: paginacao.paginaAtual
        required: false
        schema:
          default: 0
          description: "Página a ser retornada pela consulta. Se não for informada,\
            \ o PSP assumirá que será 0."
          format: int32
          minimum: 0
          title: Página atual
          type: integer
        style: form
      - explode: true
        in: query
        name: paginacao.itensPorPagina
        required: false
        schema:
          default: 100
          description: Quantidade máxima de registros retornados em cada página. Apenas
            a última página pode conter uma quantidade menor de registros.
          format: int32
          maximum: 1000
          minimum: 1
          title: Itens por Página
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/getLotesCobsV"
              schema:
                $ref: "#/components/schemas/LotesCobVConsultados"
          description: Lotes de cobranças com vencimento.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar lotes de cobranças com vencimento.
      tags:
      - LoteCobV
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
  /loc:
    get:
      description: Endpoint para consultar locations cadastradas
      parameters:
      - explode: true
        in: query
        name: inicio
        required: true
        schema:
          $ref: "#/components/schemas/Inicio"
        style: form
      - explode: true
        in: query
        name: fim
        required: true
        schema:
          $ref: "#/components/schemas/Fim"
        style: form
      - explode: true
        in: query
        name: txIdPresente
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: tipoCob
        required: false
        schema:
          enum:
          - cob
          - cobv
          type: string
        style: form
      - explode: true
        in: query
        name: paginacao.paginaAtual
        required: false
        schema:
          default: 0
          description: "Página a ser retornada pela consulta. Se não for informada,\
            \ o PSP assumirá que será 0."
          format: int32
          minimum: 0
          title: Página atual
          type: integer
        style: form
      - explode: true
        in: query
        name: paginacao.itensPorPagina
        required: false
        schema:
          default: 100
          description: Quantidade máxima de registros retornados em cada página. Apenas
            a última página pode conter uma quantidade menor de registros.
          format: int32
          maximum: 1000
          minimum: 1
          title: Itens por Página
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                getCobs1:
                  $ref: "#/components/examples/getPayloadLocation1"
              schema:
                $ref: "#/components/schemas/PayloadLocationConsultadas"
          description: lista dos locations cadastrados de acordo com o critério de
            busca.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar locations cadastradas.
      tags:
      - PayloadLocation
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: Criar location do payload
      requestBody:
        $ref: "#/components/requestBodies/PayloadLocationBody"
      responses:
        "201":
          content:
            application/json:
              examples:
                getPayloadLocation1:
                  $ref: "#/components/examples/payloadLocationResponse5"
                getPayloadLocation2:
                  $ref: "#/components/examples/payloadLocationResponse6"
              schema:
                $ref: "#/components/schemas/PayloadLocation"
          description: Dados da location do Payload.
          headers:
            location:
              explode: false
              schema:
                description: Identificador da location criada.
                example: pix.example.com/api/loc/1234567
                format: uri
                title: Identificador da location criada.
                type: string
              style: simple
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/RequisicaoInvalidaLocationExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Criar location do payload.
      tags:
      - PayloadLocation
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /loc/{id}:
    get:
      description: Recupera a location do payload
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id da location cadastrada para servir um payload
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                getPayloadLocation1:
                  $ref: "#/components/examples/payloadLocationResponse1"
                getPayloadLocation2:
                  $ref: "#/components/examples/payloadLocationResponse2"
                getPayloadLocation3:
                  $ref: "#/components/examples/payloadLocationResponse3"
              schema:
                $ref: "#/components/schemas/PayloadLocationCompleta"
          description: Dados da location do Payload.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Recuperar location do payload.
      tags:
      - PayloadLocation
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
  /loc/{id}/imagem:
    get:
      deprecated: true
      description: Recupera a imagem da location do payload
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id da location cadastrada para servir um payload
          type: number
        style: simple
      - explode: true
        in: query
        name: largura
        required: false
        schema:
          default: 360
          format: int32
          maximum: 1500
          minimum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: Imagem qrcode que representa a cobrança
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Recuperar a imagem da location do payload.
      tags:
      - PayloadLocation
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/problem+json
      - image/png
  /loc/{id}/txid:
    delete:
      description: |
        Endpoint utilizado para desvincular uma cobrança de uma location.

        Se executado com sucesso, a entidade `loc` não apresentará mais um txid,
        se apresentava anteriormente à chamada. Adicionalmente, a entidade `cob` ou `cobv` associada ao
        txid desvinculado também passará a não mais apresentar um _location_. Esta operação
        não altera o `status` da `cob` ou `cobv` em questão.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id da location cadastrada para servir um payload
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                getPayloadLocation1:
                  $ref: "#/components/examples/payloadLocationResponse4"
              schema:
                $ref: "#/components/schemas/PayloadLocation"
          description: cobrança representada pelo txid informado desvinculada com
            sucesso.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Desvincular uma cobrança de uma location.
      tags:
      - PayloadLocation
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
  /pix/{e2eid}:
    get:
      description: Endpoint para consultar um Pix através de um e2eid.
      parameters:
      - explode: false
        in: path
        name: e2eid
        required: true
        schema:
          $ref: "#/components/schemas/EndToEndId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/pixResponse1"
                retorno2:
                  $ref: "#/components/examples/pixResponse2"
                retorno3:
                  $ref: "#/components/examples/pixResponse3"
              schema:
                $ref: "#/components/schemas/Pix"
          description: Dados do Pix efetuado.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar Pix.
      tags:
      - Pix
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
  /pix:
    get:
      description: Endpoint para consultar Pix recebidos
      parameters:
      - explode: true
        in: query
        name: inicio
        required: true
        schema:
          $ref: "#/components/schemas/Inicio"
        style: form
      - explode: true
        in: query
        name: fim
        required: true
        schema:
          $ref: "#/components/schemas/Fim"
        style: form
      - explode: true
        in: query
        name: txid
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/TxId"
        style: form
      - explode: true
        in: query
        name: txIdPresente
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: devolucaoPresente
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: cpf
        required: false
        schema:
          description: Filtro pelo CPF do pagador. Não pode ser utilizado ao mesmo
            tempo que o CNPJ.
          pattern: "^\\d{11}$"
          title: CPF
          type: string
        style: form
      - explode: true
        in: query
        name: cnpj
        required: false
        schema:
          description: Filtro pelo CNPJ do pagador. Não pode ser utilizado ao mesmo
            tempo que o CPF.
          pattern: "^\\d{14}$"
          title: CNPJ
          type: string
        style: form
      - explode: true
        in: query
        name: paginacao.paginaAtual
        required: false
        schema:
          default: 0
          description: "Página a ser retornada pela consulta. Se não for informada,\
            \ o PSP assumirá que será 0."
          format: int32
          minimum: 0
          title: Página atual
          type: integer
        style: form
      - explode: true
        in: query
        name: paginacao.itensPorPagina
        required: false
        schema:
          default: 100
          description: Quantidade máxima de registros retornados em cada página. Apenas
            a última página pode conter uma quantidade menor de registros.
          format: int32
          maximum: 1000
          minimum: 1
          title: Itens por Página
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                getCobs1:
                  $ref: "#/components/examples/getPix1"
              schema:
                $ref: "#/components/schemas/PixConsultados"
          description: lista dos Pix recebidos de acordo com o critério de busca.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar Pix recebidos.
      tags:
      - Pix
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
  /pix/{e2eid}/devolucao/{id}:
    get:
      description: Endpoint para consultar uma devolução através de um End To End
        ID do Pix e do ID da devolução
      parameters:
      - explode: false
        in: path
        name: e2eid
        required: true
        schema:
          $ref: "#/components/schemas/EndToEndId"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/DevolucaoId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/devolucaoResponse1"
                retorno2:
                  $ref: "#/components/examples/devolucaoResponse2"
              schema:
                $ref: "#/components/schemas/Devolucao"
          description: Dados da devolução.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar devolução.
      tags:
      - Pix
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
    put:
      description: |
        Endpoint para solicitar uma devolução através de um e2eid do Pix e do ID da devolução. O motivo que será atribuído à PACS.004 será "MD06" ou "SL02" de acordo com a aba RTReason da PACS.004 que consta no Catálogo de Mensagens do Pix a depender da `natureza` da devolução (Vide a descrição deste campo).
      parameters:
      - explode: false
        in: path
        name: e2eid
        required: true
        schema:
          $ref: "#/components/schemas/EndToEndId"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/DevolucaoId"
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/DevolucaoBody"
      responses:
        "201":
          content:
            application/json:
              examples:
                retorno1:
                  $ref: "#/components/examples/devolucaoResponse1"
              schema:
                $ref: "#/components/schemas/Devolucao"
          description: Dados da devolução.
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/RequisicaoInvalidaDevolucaoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Solicitar devolução.
      tags:
      - Pix
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /{pixUrlAccessToken}:
    get:
      description: |
        ## Endpoint (location) que serve um payload que representa uma cobrança imediata.

        No momento que o usuário devedor efetua a leitura de um QR Code dinâmico gerado pelo recebedor, esta URL será acessada e seu conteúdo consiste em uma estrutura JWS.
        As informações sobre a segurança no acesso às urls encontram-se no Manual de Segurança do Pix disponível em nesse __[link](https://www.bcb.gov.br/estabilidadefinanceira/comunicacaodados)__.
      parameters:
      - explode: false
        in: path
        name: pixUrlAccessToken
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/jose:
              examples:
                retorno1:
                  $ref: "#/components/examples/cobPayload1"
              schema:
                $ref: "#/components/schemas/CobPayload"
          description: |
            # Descrição do Retorno
            O retorno desse endpoint é um objeto que apresenta estrutura JWS, conforme especificado no manual de segurança. Segue um exemplo:

            ```jws
            eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXUyIsImtpZCI6IjIwMTEtMDQtMjkiLCJqa3UiOiJodHRwczovL3Rvb2xzLmlldGYub3JnL2h0bWwvcmZjNzUxNyIsIng1dCI6IkFwcGVuZGl4QUV4YW1wbGVBMUpXS1NSc2FLZXkifQ.eyJjYWxlbmRhcmlvIjp7ImNyaWFjYW8iOiIyMDIwLTA5LTE1VDE5OjM5OjU0LjAxM1oiLCJhcHJlc2VudGFjYW8iOiIyMDIwLTA0LTAxVDE4OjAwOjAwWiIsImV4cGlyYWNhbyI6IjM2MDAifSwidHhpZCI6ImZjOWE0MzY2ZmYzZDQ5NjRiNWRiYzZjOTFhODcyMmQzIiwicmV2aXNhbyI6IjMiLCJzdGF0dXMiOiJBVElWQSIsInZhbG9yIjp7Im9yaWdpbmFsIjoiNTAwLjAwIn0sImNoYXZlIjoiNzQwN2M5YzgtZjc4Yi0xMWVhLWFkYzEtMDI0MmFjMTIwMDAyIiwic29saWNpdGFjYW9QYWdhZG9yIjoiSW5mb3JtYXIgY2FydGFvIGZpZGVsaWRhZGUiLCJpbmZvQWRpY2lvbmFpcyI6W3sibm9tZSI6InF1YW50aWRhZGUiLCJ2YWxvciI6IjIifV19.qI7NUrYkwcgXmyoyOjt2YLQyhxH-lPdr3xQ7RId9TDXZ-MlWmPJkUScjuo1Nz_EvlSotbWDGOxErBXHeTLHOQM-9T7lBmG5iw6uEX7L5U72XiganIm80EZCFD1vBPq9j89i4cP2U2Yv21TTt8JLhjA57KHLOSlj-KB5UAKCH-MX3AORFcrXFrYL2rrSQDe-lFNtdyPRwLQHIrhkQ6RR2FPhynzUG0401LScS9mWLLYbYzhzwtP5lk07Ryf4MZq86ihmOLFZXkIiW7pbSd8QfD5Dvj28XebLQi_bam9wInqKB--57_N741BskCN_TXf0EHbQ1qjNTgiT8Y1GIrA4pFA
            ```

            Este objeto JWS assinado deve ser validado pelo devedor. Maiores detalhes técnicos a respeito da especificação
            de segurança encontram-se no __[Manual de Segurança do Pix](https://www.bcb.gov.br/estabilidadefinanceira/pagamentosinstantaneos)__.

            Conforme pode-se verificar no exemplo acima, o objeto JWS apresenta três fragmentos separados pelo caractere `.` (ponto). São eles: `header`, `payload` e `signature`.

            Em termos de funcionalidade, o fragmento que interessa ao devedor é o `payload`, que apresenta estrutura conforme especificada pelo `schema` do presente endpoint, contendo detalhes concernentes à cobrança.
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/RequisicaoInvalidaCobPayloadExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      servers:
      - url: "https://{fdqnPSPRecebedor}/{endpointOpcional}"
        variables:
          fdqnPSPRecebedor:
            default: example.com
            description: Endpoint base para que os usuários devedores possam acessar
              o payload JSON que representa a cobrança imediata.
      summary: Recuperar o payload JSON que representa a cobrança imediata.
      tags:
      - CobPayload
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/jose
      - application/problem+json
  /{cobvpixUrlAccessToken}:
    get:
      description: |
        ## Endpoint (location) que serve um payload que representa uma cobrança com vencimento.

        No momento que o usuário devedor efetua a leitura de um QR Code dinâmico gerado pelo recebedor, esta URL será acessada e seu conteúdo consiste em uma estrutura JWS.
        As informações sobre a segurança no acesso às urls encontram-se no Manual de Segurança do Pix disponível em nesse __[link](https://www.bcb.gov.br/estabilidadefinanceira/comunicacaodados)__.
      parameters:
      - explode: false
        in: path
        name: cobvpixUrlAccessToken
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Código baseado na Tabela de Códigos de Municípios do __[IBGE](https://www.ibge.gov.br/explica/codigos-dos-municipios.php)__ que apresenta a lista dos municípios brasileiros associados a um código composto de 7 dígitos, sendo os dois primeiros referentes ao código da Unidade da Federação.
        explode: true
        in: query
        name: codMun
        required: false
        schema:
          pattern: "/^\\d{7}$/"
          title: Código do município
          type: string
        style: form
      - description: "Data de pagamento pretendida. Trata-se de uma data, no formato\
          \ `YYYY-MM-DD`, segundo ISO 8601."
        explode: true
        in: query
        name: DPP
        required: false
        schema:
          example: 2021-04-01
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/jose:
              examples:
                retorno1:
                  $ref: "#/components/examples/cobPayload2"
              schema:
                $ref: "#/components/schemas/CobVPayload"
          description: |
            # Descrição do Retorno
            O retorno desse endpoint é um objeto que apresenta estrutura JWS, conforme especificado no manual de segurança. Segue um exemplo:

            ```jws
            eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXUyIsImtpZCI6IjIwMTEtMDQtMjkiLCJqa3UiOiJodHRwczovL3Rvb2xzLmlldGYub3JnL2h0bWwvcmZjNzUxNyIsIng1dCI6IkFwcGVuZGl4QUV4YW1wbGVBMUpXS1NSc2FLZXkifQ.eyJjYWxlbmRhcmlvIjp7ImNyaWFjYW8iOiIyMDIwLTA5LTE1VDE5OjM5OjU0LjAxM1oiLCJhcHJlc2VudGFjYW8iOiIyMDIwLTA0LTAxVDE4OjAwOjAwWiIsImRhdGFEZVZlbmNpbWVudG8iOiIyMDIwLTEyLTMxIiwidmFsaWRhZGVBcG9zVmVuY2ltZW50byI6MzB9LCJkZXZlZG9yIjp7ImxvZ3JhZG91cm8iOiJBbGFtZWRhIFNhbnRvcywgTnVtZXJvIDEwLCBCYWlycm8gQnJheiIsImNpZGFkZSI6IkRpYWRlbWEiLCJ1ZiI6IlNQIiwiY2VwIjoiNzA4MDAxMDAiLCJjbnBqIjoiNTY5ODkwMDAwMTk1MzMiLCJub21lIjoiRW1wcmVzYSBkZSBBbGltZW50b3MgU0EifSwicmVjZWJlZG9yIjp7ImxvZ3JhZG91cm8iOiJSdWEgMjAgTnVtZXJvIDcwLCBCYWlycm8gTHV6IiwiY2lkYWRlIjoiQmVsbyBIb3Jpem9udGUiLCJ1ZiI6Ik1HIiwiY2VwIjoiNTUxMjA3NTAiLCJjbnBqIjoiNTg5MDA2MzMxMjA3MTEiLCJub21lIjoiRW1wcmVzYSBkZSBBYmFzdGVjaW1lbnRvIFNBIn0sInR4aWQiOiJmYzlhNDM2NmZmM2Q0OTY0YjVkYmM2YzkxYTg3MjJkMyIsInJldmlzYW8iOiIzIiwic3RhdHVzIjoiQVRJVkEiLCJ2YWxvciI6eyJvcmlnaW5hbCI6IjEyMy40NSIsIm11bHRhIjoiMTUuMDAiLCJqdXJvcyI6IjIuMDAiLCJmaW5hbCI6IjE0MCw0NSJ9LCJjaGF2ZSI6Ijc0MDdjOWM4LWY3OGItMTFlYS1hZGMxLTAyNDJhYzEyMDAwMiIsInNvbGljaXRhY2FvUGFnYWRvciI6IkluZm9ybWFyIGNhcnRhbyBmaWRlbGlkYWRlIiwiaW5mb0FkaWNpb25haXMiOlt7Im5vbWUiOiJxdWFudGlkYWRlIiwidmFsb3IiOiIyIn1dfQ.BYibf_oK38IubbnnfThe4gaXuJgfoGQzFIezxHS76jGLQ4re2BwSdsiIzBW1t0JOtL094jLtJMVttdIdF9YJukrdzbknbf1jzfHghgBfNqXfZm7jxWuV8IO0jimoSoo7oMrG3MYytRFpdk2Q_ZhTL5UgZqVbfJkMwcp8o0FYmzrmiGPll-kgBulTgGgvGjzl-mC5dtl56351ix1-If1D7KAohHzcYTHzEFkvYZlNCcxyHJX94-8IqpYaTQ1rJlnPExPIgys-ioZ3U_QzcPz4d3tGvRAfHEU7VoIeZHeXR1jqKuqvz70ayc8mAbL7RXzJat1Ru_glS3krkSdXdZxK-w
            ```

            Este objeto JWS assinado deve ser validado pelo devedor. Maiores detalhes técnicos a respeito da especificação
            de segurança encontram-se no __[Manual de Segurança do Pix](https://www.bcb.gov.br/estabilidadefinanceira/pagamentosinstantaneos)__.

            Conforme pode-se verificar no exemplo acima, o objeto JWS apresenta três fragmentos separados pelo caractere `.` (ponto). São eles: `header`, `payload` e `signature`.

            Em termos de funcionalidade, o fragmento que interessa ao devedor é o `payload`, que apresenta estrutura conforme especificada pelo `schema` do presente endpoint, contendo detalhes concernentes à cobrança.
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/RequisicaoInvalidaCobPayloadExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      servers:
      - url: "https://{fdqnPSPRecebedor}/{endpointOpcional}"
        variables:
          fdqnPSPRecebedor:
            default: example.com
            description: Endpoint base para que os usuários devedores possam acessar
              o payload JSON que representa a cobrança com vencimento.
      summary: Recuperar o payload JSON que representa a cobrança com vencimento.
      tags:
      - CobPayload
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/jose
      - application/problem+json
  /webhook/{chave}:
    delete:
      description: |
        Endpoint para cancelamento do webhook. Não é a única forma pela qual um webhook pode ser
        removido.

        O PSP recebedor está livre para remover unilateralmente um webhook que esteja associado
        a uma chave que não pertence mais a este usuário recebedor.
      parameters:
      - explode: false
        in: path
        name: chave
        required: true
        schema:
          maxLength: 77
          title: Chave DICT do recebedor
          type: string
        style: simple
      responses:
        "204":
          description: Webhook para notificações Pix foi cancelado.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Cancelar o webhook Pix.
      tags:
      - Webhook
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/problem+json
    get:
      description: |
        Endpoint para recuperação de informações sobre o Webhook Pix.
      parameters:
      - explode: false
        in: path
        name: chave
        required: true
        schema:
          maxLength: 77
          title: Chave DICT do recebedor
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/webhookResponse1"
              schema:
                $ref: "#/components/schemas/WebhookCompleto"
          description: Dados do webhook.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Exibir informações acerca do Webhook Pix.
      tags:
      - Webhook
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
    put:
      callbacks:
        listaPix:
          '{$request.body#/webhookUrl}/pix':
            post:
              description: |
                O callback deve ser acionado sempre que um ou mais Pix associados a um txid forem recebidos
                pelo usuário recebedor e desde que a chave associada ao Pix em questão esteja
                associada a um webhook cadastrado.

                O callback também deve ser acionado sempre que uma devolução associada a um Pix
                associado a um txid atinja um status final: `DEVOLVIDO` ou `NAO_REALIZADO`.

                O SLA específico a ser definido no contexto dos acionamento dos callbacks fica a
                cargo de cada PSP recebedor. Orienta-se, no entanto, que o SLA seja definido dentro
                de um limite razoável tendo em vista que a expectativa é que o callback seja um aviso "on-line" da
                ocorrência do pagamento.

                No contexto da estratégia específica de SLA de cada PSP recebedor, é possível agrupar
                Pix associados a uma mesma chave para economizar acionamentos múltiplos.
                Este serviço está protegido por uma camada de autenticação mTLS. Para maiores detalhes,
                verificar o [Manual de padrões para iniciação do Pix](https://www.bcb.gov.br/estabilidadefinanceira/pix).
              operationId: listaPixPixPost
              requestBody:
                $ref: "#/components/requestBodies/WebhookPixBody"
              responses:
                "200":
                  description: Notificação recebida com sucesso
              x-callback-request: true
      description: |
        Endpoint para configuração do serviço de notificações acerca de Pix recebidos.
        Somente Pix associados a um txid serão notificados.
      parameters:
      - explode: false
        in: path
        name: chave
        required: true
        schema:
          maxLength: 77
          title: Chave DICT do recebedor
          type: string
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/WebhookConfigBody"
      responses:
        "200":
          description: Webhook para notificações acerca de Pix recebidos associados
            a um txid.
        "400":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/RequisicaoInvalidaWebhookExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição com formato inválido.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "404":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/NaoEncontradoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Recurso solicitado não foi encontrado.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Configurar o Webhook Pix.
      tags:
      - Webhook
      x-sicoob-category: FINANCEIRA
      x-content-type: application/json
      x-accepts:
      - application/problem+json
  /webhook:
    get:
      description: Endpoint para consultar Webhooks cadastrados
      parameters:
      - explode: true
        in: query
        name: inicio
        required: false
        schema:
          $ref: "#/components/schemas/Inicio"
        style: form
      - explode: true
        in: query
        name: fim
        required: false
        schema:
          $ref: "#/components/schemas/Fim"
        style: form
      - explode: true
        in: query
        name: paginacao.paginaAtual
        required: false
        schema:
          default: 0
          description: "Página a ser retornada pela consulta. Se não for informada,\
            \ o PSP assumirá que será 0."
          format: int32
          minimum: 0
          title: Página atual
          type: integer
        style: form
      - explode: true
        in: query
        name: paginacao.itensPorPagina
        required: false
        schema:
          default: 100
          description: Quantidade máxima de registros retornados em cada página. Apenas
            a última página pode conter uma quantidade menor de registros.
          format: int32
          maximum: 1000
          minimum: 1
          title: Itens por Página
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                getCobs1:
                  $ref: "#/components/examples/getWebhook1"
              schema:
                $ref: "#/components/schemas/WebhooksConsultados"
          description: lista dos locations cadastrados de acordo com o critério de
            busca.
        "403":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/AcessoNegadoExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Requisição de participante autenticado que viola alguma regra
            de autorização.
        "503":
          content:
            application/problem+json:
              examples:
                exemplo1:
                  $ref: "#/components/examples/ServicoIndisponivelExample1"
              schema:
                $ref: "#/components/schemas/Problema"
          description: Serviço não está disponível no momento. Serviço solicitado
            pode estar em manutenção ou fora da janela de funcionamento.
      summary: Consultar webhooks cadastrados.
      tags:
      - Webhook
      x-sicoob-category: FINANCEIRA
      x-accepts:
      - application/json
      - application/problem+json
components:
  examples:
    cobBody1:
      summary: Exemplo de criação de cobrança com vencimento 1
      value:
        calendario:
          dataDeVencimento: 2020-12-31
          validadeAposVencimento: 30
        loc:
          id: 789
        devedor:
          logradouro: "Alameda Souza, Numero 80, Bairro Braz"
          cidade: Recife
          uf: PE
          cep: "70011750"
          cpf: "12345678909"
          nome: Francisco da Silva
        valor:
          original: "123.45"
          multa:
            modalidade: "2"
            valorPerc: "15.00"
          juros:
            modalidade: "2"
            valorPerc: "2.00"
          desconto:
            modalidade: "1"
            descontoDataFixa:
            - data: 2020-11-30
              valorPerc: "30.00"
        chave: 5f84a4c5-c5cb-4599-9f13-7eb4d419dacc
        solicitacaoPagador: Cobrança dos serviços prestados.
    cobBody2:
      summary: Exemplo de criação de cobrança imediata 1
      value:
        calendario:
          expiracao: 3600
        devedor:
          cnpj: "12345678000195"
          nome: Empresa de Serviços SA
        valor:
          original: "37.00"
          modalidadeAlteracao: 1
        chave: 7d9f0335-8dcc-4054-9bf9-0dbd61d36906
        solicitacaoPagador: Serviço realizado.
        infoAdicionais:
        - nome: Campo 1
          valor: Informação Adicional1 do PSP-Recebedor
        - nome: Campo 2
          valor: Informação Adicional2 do PSP-Recebedor
    cobBody3:
      summary: Exemplo de revisão de cobrança 1
      value:
        loc:
          id: 7768
        devedor:
          cpf: "12345678909"
          nome: Francisco da Silva
        valor:
          original: "123.45"
        solicitacaoPagador: Cobrança dos serviços prestados.
    cobBody4:
      summary: Exemplo de revisão de cobrança 2
      value:
        valor:
          original: "567.89"
        solicitacaoPagador: Informar cartão fidelidade
    cobBody5:
      summary: Exemplo de revisão de cobrança 3
      value:
        status: REMOVIDA_PELO_USUARIO_RECEBEDOR
    cobBody6:
      summary: Exemplo de criação de cobrança imediata com Saque Pix
      value:
        devedor:
          cnpj: "12345678000195"
          nome: Empresa de Serviços SA
        valor:
          original: "0.00"
          modalidadeAlteracao: 0
          retirada:
            saque:
              valor: "5.00"
              modalidadeAlteracao: 0
              modalidadeAgente: AGPSS
              prestadorDoServicoDeSaque: "12345678"
        chave: 7d9f0335-8dcc-4054-9bf9-0dbd61d36906
    cobBody7:
      summary: Exemplo de revisão de cobrança com vencimento 1
      value:
        loc:
          id: 789
        devedor:
          logradouro: "Alameda Souza, Numero 80, Bairro Braz"
          cidade: Recife
          uf: PE
          cep: "70011750"
          cpf: "12345678909"
          nome: Francisco da Silva
        valor:
          original: "123.45"
        solicitacaoPagador: Cobrança dos serviços prestados.
    cobBody8:
      summary: Exemplo de criação de cobrança imediata com Saque Pix 2
      value:
        devedor:
          cnpj: "12345678000195"
          nome: Empresa de Serviços SA
        valor:
          original: "0.00"
          modalidadeAlteracao: 0
          retirada:
            saque:
              valor: "20.00"
              modalidadeAlteracao: 1
              modalidadeAgente: AGPSS
              prestadorDoServicoDeSaque: "12345678"
        chave: 7d9f0335-8dcc-4054-9bf9-0dbd61d36906
    cobBody9:
      summary: Exemplo de criação de cobrança imediata com Saque Pix 3
      value:
        devedor:
          cnpj: "12345678000195"
          nome: Empresa de Serviços SA
        valor:
          original: "10.00"
          modalidadeAlteracao: 0
          retirada:
            troco:
              valor: "0.00"
              modalidadeAlteracao: 1
              modalidadeAgente: AGTEC
              prestadorDoServicoDeSaque: "12345678"
        chave: 7d9f0335-8dcc-4054-9bf9-0dbd61d36906
    loteCobVBody1:
      summary: Exemplo de criação de lote de cobranças com vencimento 1
      value:
        descricao: Cobranças dos alunos do turno vespertino
        cobsv:
        - calendario:
            dataDeVencimento: 2020-12-31
            validadeAposVencimento: 30
          txid: fb2761260e554ad593c7226beb5cb650
          loc:
            id: 789
          devedor:
            logradouro: "Alameda Souza, Numero 80, Bairro Braz"
            cidade: Recife
            uf: PE
            cep: "70011750"
            cpf: "08577095428"
            nome: João Souza
          valor:
            original: "100.00"
          chave: 7c084cd4-54af-4172-a516-a7d1a12b75cc
          solicitacaoPagador: Informar matrícula
        - calendario:
            dataDeVencimento: 2020-12-31
            validadeAposVencimento: 30
          txid: 7978c0c97ea847e78e8849634473c1f1
          loc:
            id: 57221
          devedor:
            logradouro: "Rua 15, Numero 1, Bairro Campo Grande"
            cidade: Recife
            uf: PE
            cep: "70055751"
            cpf: "15311295449"
            nome: Manoel Silva
          valor:
            original: "100.00"
          chave: 7c084cd4-54af-4172-a516-a7d1a12b75cc
          solicitacaoPagador: Informar matrícula
    loteCobVBodyRevisado1:
      summary: Exemplo de revisão de lote de cobranças com vencimento 1
      value:
        cobsv:
        - calendario:
            dataDeVencimento: 2020-01-10
          txid: fb2761260e554ad593c7226beb5cb650
          valor:
            original: "110.00"
        - calendario:
            dataDeVencimento: 2020-01-10
          txid: 7978c0c97ea847e78e8849634473c1f1
          valor:
            original: "110.00"
    cobResponse1:
      summary: Exemplo de cobrança imediata 1
      value:
        calendario:
          criacao: 2020-09-09T20:15:00.358Z
          expiracao: 3600
        txid: 7978c0c97ea847e78e8849634473c1f1
        revisao: 0
        loc:
          id: 789
          location: pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25
          tipoCob: cob
        location: pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25
        status: ATIVA
        devedor:
          cnpj: "12345678000195"
          nome: Empresa de Serviços SA
        valor:
          original: "37.00"
          modalidadeAlteracao: 1
        chave: 7d9f0335-8dcc-4054-9bf9-0dbd61d36906
        solicitacaoPagador: Serviço realizado.
        infoAdicionais:
        - nome: Campo 1
          valor: Informação Adicional1 do PSP-Recebedor
        - nome: Campo 2
          valor: Informação Adicional2 do PSP-Recebedor
    cobResponse2:
      summary: Exemplo de cobrança imediata 2
      value:
        calendario:
          criacao: 2020-09-09T20:15:00.358Z
          expiracao: 3600
        txid: 655dfdb1a4514b8fbb58254b958913fb
        revisao: 1
        loc:
          id: 567
          location: pix.example.com/qr/1dd7f893a58e417287028dc33e21a403
        location: pix.example.com/qr/1dd7f893a58e417287028dc33e21a403
        status: CONCLUIDA
        devedor:
          cnpj: "12345678000195"
          nome: Empresa de Serviços SA
        valor:
          original: "100.00"
          modalidadeAlteracao: 0
        chave: 40a0932d-1918-4eee-845d-35a2da1690dc
        solicitacaoPagador: Informar cartão fidelidade
        pix:
        - endToEndId: E12345678202009091221kkkkkkkkkkk
          txid: 655dfdb1a4514b8fbb58254b958913fb
          valor: "110.00"
          horario: 2020-09-09T20:15:00.358Z
          infoPagador: "0123456789"
          devolucoes:
          - id: 123ABC
            rtrId: Dxxxxxxxx202009091221kkkkkkkkkkk
            valor: "10.00"
            horario:
              solicitacao: 2020-09-09T20:15:00.358Z
            status: EM_PROCESSAMENTO
    cobResponse3:
      summary: Exemplo de cobrança revisada 1
      value:
        calendario:
          criacao: 2020-09-09T20:15:00.358Z
          expiracao: 3600
        txid: 7978c0c97ea847e78e8849634473c1f1
        revisao: 1
        loc:
          id: 7768
          location: pix.example.com/qr/b1/9d36b84fc70b478fb95c12729b90ca25
          tipoCob: cob
        location: pix.example.com/qr/v1/9d36b84fc70b478fb95c12729b90ca25
        status: ATIVA
        devedor:
          cpf: "12345678909"
          nome: Francisco da Silva
        valor:
          original: "123.45"
          modalidadeAlteracao: 0
        chave: a1f4102e-a446-4a57-bcce-6fa48899c1d1
        solicitacaoPagador: Cobrança dos serviços prestados.
    cobResponse4:
      summary: Exemplo de cobrança com vencimento 1
      value:
        calendario:
          criacao: 2020-09-09T20:15:00.358Z
          dataDeVencimento: 2020-12-31
          validadeAposVencimento: 30
        txid: 7978c0c97ea847e78e8849634473c1f1
        revisao: 0
        loc:
          id: 789
          location: pix.example.com/qr/c2/cobv/9d36b84fc70b478fb95c12729b90ca25
          tipoCob: cobv
        status: ATIVA
        devedor:
          logradouro: "Alameda Souza, Numero 80, Bairro Braz"
          cidade: Recife
          uf: PE
          cep: "70011750"
          cpf: "12345678909"
          nome: Francisco da Silva
        recebedor:
          logradouro: "Rua 15 Numero 1200, Bairro São Luiz"
          cidade: São Paulo
          uf: SP
          cep: "70800100"
          cnpj: "56989000019533"
          nome: Empresa de Logística SA
        valor:
          original: "123.45"
        chave: 5f84a4c5-c5cb-4599-9f13-7eb4d419dacc
        solicitacaoPagador: Cobrança dos serviços prestados.
    cobResponse5:
      summary: Exemplo de cobrança imediata com Saque Pix
      value:
        calendario:
          criacao: 2020-09-09T20:15:00.358Z
          expiracao: 3600
        txid: 33beb661beda44a8928fef47dbeb2dc5
        revisao: 0
        loc:
          id: 1004
          location: pix.example.com/qr/7faa6893c4e64893a503baf0d40af213
          tipoCob: cob
        location: pix.example.com/qr/7faa6893c4e64893a503baf0d40af213
        status: ATIVA
        devedor:
          cnpj: "12345678000195"
          nome: Empresa de Serviços SA
        valor:
          original: "0.00"
          modalidadeAlteracao: 0
          retirada:
            saque:
              valor: "5.00"
              modalidadeAlteracao: 0
              modalidadeAgente: AGPSS
              prestadorDoServicoDeSaque: "12345678"
        chave: 7d9f0335-8dcc-4054-9bf9-0dbd61d36906
    cobResponse6:
      summary: Exemplo de cobrança imediata com Saque Pix 2
      value:
        calendario:
          criacao: 2020-09-09T20:15:00.358Z
          expiracao: 3600
        txid: 33beb661beda44a8928fef47dbeb2dc5
        revisao: 0
        loc:
          id: 1004
          location: pix.example.com/qr/7faa6893c4e64893a503baf0d40af213
          tipoCob: cob
        location: pix.example.com/qr/7faa6893c4e64893a503baf0d40af213
        status: ATIVA
        devedor:
          cnpj: "12345678000195"
          nome: Empresa de Serviços SA
        valor:
          original: "0.00"
          modalidadeAlteracao: 0
          retirada:
            saque:
              valor: "20.00"
              modalidadeAlteracao: 1
              modalidadeAgente: AGPSS
              prestadorDoServicoDeSaque: "12345678"
        chave: 7d9f0335-8dcc-4054-9bf9-0dbd61d36906
    cobResponse7:
      summary: Exemplo de cobrança imediata com Saque Pix 3
      value:
        calendario:
          criacao: 2020-09-09T20:15:00.358Z
          expiracao: 3600
        txid: 33beb661beda44a8928fef47dbeb2dc5
        revisao: 0
        loc:
          id: 1004
          location: pix.example.com/qr/7faa6893c4e64893a503baf0d40af213
          tipoCob: cob
        location: pix.example.com/qr/7faa6893c4e64893a503baf0d40af213
        status: ATIVA
        devedor:
          cnpj: "12345678000195"
          nome: Empresa de Serviços SA
        valor:
          original: "10.00"
          modalidadeAlteracao: 0
          retirada:
            troco:
              valor: "0.00"
              modalidadeAlteracao: 1
              modalidadeAgente: AGTEC
              prestadorDoServicoDeSaque: "12345678"
        chave: 7d9f0335-8dcc-4054-9bf9-0dbd61d36906
    loteCobVResponse1:
      summary: Exemplo de lote de cobranças com vencimento 1
      value:
        descricao: Cobranças dos alunos do turno vespertino
        criacao: 2020-11-01T20:15:00.358Z
        cobsv:
        - criacao: 2020-11-01T20:15:00.358Z
          txid: fb2761260e554ad593c7226beb5cb650
          status: CRIADA
        - txid: 7978c0c97ea847e78e8849634473c1f1
          status: NEGADA
          problema:
            type: https://pix.bcb.gov.br/api/v2/error/CobVOperacaoInvalida
            title: Cobrança inválida.
            status: 400
            detail: A requisição que busca alterar ou criar uma cobrança com vencimento
              não respeita o schema ou está semanticamente errada.
            violacoes:
            - razao: O objeto cobv.devedor não respeita o schema.
              propriedade: cobv.devedor
    loteCobVResponse2:
      summary: Exemplo de lote de cobranças com vencimento 2
      value:
        descricao: Cobranças dos assinantes anuais
        criacao: 2020-11-17T20:00:00.358Z
        cobsv:
        - criacao: 2020-11-17T20:00:00.358Z
          txid: 06601eaa3822423fbe897f613b983e01
          status: CRIADA
        - criacao: 2020-11-17T20:00:00.358Z
          txid: 4e07059760d54cf493de6e7f1fbfad9a
          status: CRIADA
    payloadLocationBody1:
      summary: Exemplo de Payload Location 1
      value:
        tipoCob: cob
    payloadLocationBody2:
      summary: Exemplo de Payload Location 2
      value:
        tipoCob: cobv
    payloadLocationResponse1:
      summary: Exemplo de Payload Location 1
      value:
        id: 7716
        txid: fda9460fe04e4f129b72863ae57ee22f
        location: pix.example.com/qr/v2/cobv/2353c790eefb11eaadc10242ac120002
        tipoCob: cobv
        criacao: 2020-03-11T21:19:51.013Z
    payloadLocationResponse2:
      summary: Exemplo de Payload Location 2
      value:
        id: 856
        txid: 31e08604f9ce459bb59672332af8d672
        location: pix.example.com/qr/v2/cobv/39c9f435c6324867aa1dec1260e1127c
        tipoCob: cobv
[...]
